* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fullwidht {
    background-color: #0D325A;
}

.fascia-grigia {
    background-color: lightgray;
}

.container-bianco {
    background-color: green;
}

.container {
    max-width: 1200px;
    width: 80vw;
    height: 220px;
    background-color: lightblue;
    margin: 0 auto;
}

.fascia {
    height: 70px;
    width: 80vw;
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
}

.corpo {
    width: 80vw;
    max-width: 1200px;
    height: 330px;
    background-color: lightgreen;
    margin: 0 auto;
}
